<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Datos de la Persona</h1>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/editar}" method="post" th:object="${persona}">
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
            <br/>
            <label for="primerNombre">Primer Nombre</label>
            <input type="text" name="primerNombre" th:field="*{primerNombre}"/>
            <span th:if="${#fields.hasErrors('primerNombre')}" th:errors="*{primerNombre}">Error Nombre</span>
            <br/>
            <label for="otrosNombres">Otros Nombres</label>
            <input type="text" name="otrosNombres" th:field="*{otrosNombres}"/>
            <span th:if="${#fields.hasErrors('otrosNombres')}" th:errors="*{otrosNombres}">Otros Nombres</span>
            <br/>
            <label for="primerApellido">Primer Apellido</label>
            <input type="text" name="primerApellido" th:field="*{primerApellido}"/>
            <span th:if="${#fields.hasErrors('primerApellido')}" th:errors="*{primerApellido}">Primer Apellido</span>
            <br/>
            <label for="segundoApellido">Segundo Apellido</label>
            <input type="text" name="segundoApellido" th:field="*{segundoApellido}"/>
            <span th:if="${#fields.hasErrors('segundoApellido')}" th:errors="*{segundoApellido}">Segundo Apellido</span>
            <br/>
            <label for="email">Email</label>
            <input type="text" name="email" readonly="" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Email</span>
            <br/>
            <label for="estado">Estado</label>
            <input type="text" name="estado" readonly="" th:field="*{estado}" />
            <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}" >Estado</span>
            <br/>
            <label for="numeroDeIdentificacion">Numero de Identificacion</label>
            <input type="text" name="numeroDeIdentificacion" th:field="*{numeroDeIdentificacion}"/>
            <span th:if="${#fields.hasErrors('numeroDeIdentificacion')}" th:errors="*{numeroDeIdentificacion}">Numero de Identificacion</span>
            <br/>
            <label for="tipoDeIdentificacion">Tipo de Identificacion</label>
            <input type="text" name="tipoDeIdentificacion" th:field="*{tipoDeIdentificacion}"/>
            <span th:if="${#fields.hasErrors('tipoDeIdentificacion')}" th:errors="*{tipoDeIdentificacion}">Tipo de Identificacion</span>
            <br/>
            <label for="area">Area</label>
            <select name="select" th:field="*{area}">
            <option value="Financiera" name="area" th:field="*{area}">Financiera</option>
            <option value="Compras" name="area" th:field="*{area}" >Compras</option>
            <option value="Operacion" name="area" th:field="*{area}">Operacion</option>
            <option value="Talento Humano" name="area" th:field="*{area}" >Talento Humano</option>
            </select>
            <label for="paisEmpleo">Pais Empleo</label>
            <select name="select" th:field="*{paisEmpleo}">
            <option value="Colombia" name="paisEmpleo" th:field="*{paisEmpleo}">Colombia</option>
            <option value="EEUU" name="paisEmpleo" th:field="*{paisEmpleo}" >EEUU</option>
            </select> 
            <span th:if="${#fields.hasErrors('paisEmpleo')}" th:errors="*{paisEmpleo}">Pais Empleo</span>
            <br/>
            <label for="fechaDeIngreso">Fecha De Ingreso</label>
            <input type="text" name="fechaDeIngreso" readonly="" th:field="*{fechaDeIngreso}" />
            <span th:if="${#fields.hasErrors('fechaDeIngreso')}" th:errors="*{fechaDeIngreso}" >Error ApellidoFecha De Edicion</span>
            <br/>
            <label for="fechaDeRegistro">Fecha De Edicion</label>
            <input type="text" name="fechaDeRegistro" readonly="" th:field="*{fechaDeRegistro}" />
            <span th:if="${#fields.hasErrors('fechaDeRegistro')}" th:errors="*{fechaDeRegistro}" >Error ApellidoFecha De Registro</span>
            <br/>
            
            
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
