<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Inicio</h1>
        <a th:href="@{/agregar}">Crear Persona</a>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Otro Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Email</th>
                    <th>Numero d eIdentificacion</th>
                    <th>Tipo de identificacion</th>
                    <th>Pais de Empleo</th>
                    <th>Fecha de Ingreso</th>
                    <th>Fecha de Registro</th>
                    <th>Area</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.primerNombre}">Primer Nombre</td>
                    <td th:text="${persona.otrosNombres}">Otros Nombres</td>
                    <td th:text="${persona.primerApellido}">Primer Apellido</td>
                    <td th:text="${persona.segundoApellido}">Segundo Apellido</td>
                    <td th:text="${persona.email}">Email</td>
                    <td th:text="${persona.numeroDeIdentificacion}">Numero de Identificacion</td>
                    <td th:text="${persona.tipoDeIdentificacion}">Tipo de Identificacion</td>
                    <td th:text="${persona.paisEmpleo}">Pais de Empleo</td>
                    <td th:text="${persona.fechaDeIngreso}">Fecha de Ingreso</td>
                    <td th:text="${persona.fechaDeRegistro}">Fecha de Registro</td>
                    <td th:text="${persona.area}">Area</td>
                    <td th:text="${persona.estado}">Estado</td>
                    <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista de personas está vacía
        </div>
        
    </body>
</html>
